/* Estilos generales */

body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
	color: #333;
	margin: 0;
	padding: 0;
}



ul, ol {
	margin: 0;
	padding: 0 0 0 30px;
}

li {
	margin: 5px 0;
}



header{
    right:0;
    left:0;
    top:0;
    }
    .header a {
        color:black;
        text-decoration:none;
        text-align:center;
        padding: 10px;
    }
    .header a:hover{color:#7ABA96} /*Color al pasar por encima */

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

nav li {
	margin: 0 20px;
}

nav a {
	font-size: 1.2em;
}

main {
	max-width: 800px;
	margin-left: 500px;
	margin-top: 50px;
	padding: 0 20px;
}

/* Estilos específicos de la sección de fotos */

.galeria {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.galeria img {
	max-width: 30%;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

@media screen and (max-width: 600px) {
	.galeria img {
		max-width: 100%;
	}
}
